[Unit]
Description=Check every 5 minutes whether kcluster serve is idle

[Timer]
OnBootSec=15min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
